{% load staticfiles %}
{% load cloudinary %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/confiam.css' %}">
	<div class="logo">
	  	<img src="{% static 'image/timbre.png' %}" alt="logo"/>
</head>
<body>
	<table>	
			<tr>
				<td><h2><a href="{% url 'core:palestrantes' %}"><button class="btn1">Palestrantes</button></a></h2></td>
			  	<td><h2><a href="{% url 'core:palestras' %}"><button class="btn2">Palestras</button></a></h2></td>
			  	<td><h2><a href="{% url 'core:minicursos' %}"><button class="btn3">Minicursos</button></a></h2></td>
			  	<td><h2><a href="{% url 'core:restaurantes' %}"><button class="btn4">Restaurantes</button></a></h2></td> 
			  	<td><h2><a href="{% url 'core:patrocinio' %}"><button class="btn5">Patrocínios</button></a></h2></td>
			  	<td><h2><a href="{% url 'core:hoteis' %}"><button class="btn6">Hotéis</button></a></h2></td>
			  	<td><h2><a href=#><button class="btn7">Inscrição</button></a></h2></td>
			 </tr>
		</table>
	{% block content %}

	{% endblock %}
</body>
</html>