{% load staticfiles %}
{% load cloudinary %}
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/confiam.css' %}">
	<p class="listra"><h1>ConfiamXIII - O 13º Congresso de Física Aplicada à Medicina</h1></p>
</head>
<body>
	<table border="4">
		  <tr>	
			<button class="btn1"><p><h2><a href="{% url 'core:palestrantes' %}">Palestrantes</a></h2></p></button>
		  </tr>
		  <tr>
		  	<button class="btn2"><p><h2><a href="{% url 'core:palestras' %}">Palestras</a></h2></p></button>
		  </tr>
		  <tr>
		  	<button class="btn3"><p><h2><a href="{% url 'core:minicursos' %}">Mini-Cursos</a></h2></p></button>
		  </tr>
		  <tr>
		  	<button class="btn4"><p><h2><a href="{% url 'core:patrocinio' %}">Patrocinadores</a></h2></p></button> 
		  </tr>
		  <tr>
		  	<button class="btn5"><p><h2><a href="{% url 'core:restaurantes' %}">Restaurantes</a></h2></p></button>
		  </tr>
		  <tr>
		  	<button class="btn6"><p><h2><a href="{% url 'core:hoteis' %}">Hotéis</a></h2></p></button>
		  </tr>
		  <tr>
		  	<button class="btn7"><p><h2>Inscreva-se</h2></p></button>
		  </tr>
		</table>
	{% block content %}
	{% endblock %}
</body>
</html>