<head>
	{% extends 'core/base.html' %}
	{% load staticfiles %}
	{% load cloudinary %}
	{% block content %}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/hoteis.css' %}">
</head>
<body>
	<p><h1>Fotos visíveis somente após o início do evento.</h1></p>
	<h3>Nesta parte do site serão postadas fotos ao decorrer do evento</h3> 
	{% for post in posts %}
		<div class=item>
			<p><h1>{{ post.nome_evento }}</h1></p>
			<picture>{% cloudinary post.foto_evento %}</picture>
			<p><h2>{{ post.apresentacao_evento }}</h2></p>
			<br>
		</div>
	{% endfor %}
</body>
{% endblock %}