<head>
	{% extends 'core/base.html' %}
	{% load cloudinary %}
	{% load staticfiles %}
	{% block content %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-102290379-1', 'auto');
	  ga('send', 'pageview');
	</script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/hoteis.css' %}">
</head>
<body>
{% for post in posts %}
		<div class=item>
			<p><h1>{{ post.nome_restaurante }}</h1></p>
			<center><picture>{% cloudinary post.foto_restaurante %}</picture></center>
			<p><h2>{{ post.apresentacao_restaurante }}</h2></p>
			<br>
		</div>
	{% endfor %}
</body>
{% endblock %}