body{
	background: url("background.png");
	background-repeat: repeat-y;
	width: 100%;
}
h1{
	font-family: 'Lobster';
	margin: 0;
}
h2{
	font-family: 'Kalam', cursive;
	margin: 0;
}

table {
	border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    margin: 0;
}

.nome {
	font-size: 250%;
	font-family: 'Lobster';
	margin: 0;
}

.apresenta {
	font-size: 200%;
	margin: 0;
}

.logo img{
	display: hidden;
	margin: auto;   
  	padding-left: 80px;
  	width: 60%;   
  	height: auto; 
  	margin: 0;
}

.btn1{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn1:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn2{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn2:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn3{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn3:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn4{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn4:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn5{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn5:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn6{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn6:hover{
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}
.btn7{
	background-color: white;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn7:hover{
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}

footer{
	position: fixed; 
	bottom: 5px;
	width: 100%; 
	height: 65px; 
	background: url("rodape.png");
}
